nav {
  display: grid;
  grid-template-columns: repeat(auto-fill, 288px);
  justify-content: space-evenly;
}
figure {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
}
figure a::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
}
figure a:hover::after {
  background: #ff00ff33;
}
figure a:focus {
  outline: none;
}
figure a:focus-visible::after {
  outline: 2px solid;
  border-radius: 2px;
}
